.about {
  background-color: $light-gray;
  &__img {
    margin-left: 40px;
    border-radius: 16px;
  }
  &__bound {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;

    .content {
      max-width: 45.5%;
    }
  }
}
