.cases {
  .filtres {
    margin: 80px 0 70px 0;
  }
  .cards {
    column-gap: 40px;
    row-gap: 40px;
  }
  .card {
    max-width: 100%;
    color: $dark-gray;
    padding: 40px;
    &__name {
      font-size: 30px;
      color: $blue;
    }
  }
}