//colors
$light-gray: #FAFAFB;
$white: #fff;
$white-80: #FFFFFFCC;
$white-60: #FFFFFF99;

$dark-blue: #173E64;
$blue: #2B5278;
$blue-50: #2B527880;
$gray-blue: #7198BE99;
$light-blue: #99C0E6;
$light-blue-10: #99C0E61A;

$gray: #656D77;
$dark-gray: #1B2734;
$dark-gray-30: #1B27344D;
$dark-gray-90: #1B2734E5;