//container
[class*="__bound"] {
    max-width: 1750px;
    padding: 0 30px;
    margin: 0 auto;
}

section {
    margin-bottom: 140px;
}

.page-header {
    margin-bottom: 80px;
}

//reset
*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

a, a:visited, a:hover {
    text-decoration: none;
}

a:focus, a:active {
    outline: none;
}

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

p + p {
    margin-top: 0.5em;
}

ul {
    list-style: none;
}

img, svg, video {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active, button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

/* For hidden */ 

.none {
    display: none !important;
}

.visually-hidden {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    display: block;
    nav-left: -10000px;
    background: transparent;
    font-size: 0;
}

.active {
    display: block;
}